.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0 auto;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  
}

.container{
    width: 1158px;
    padding-top: 80px;
    margin: 0 auto;
}


body {
    background-color: #c8c8ec;
    font-size: 36px;
    font-style: normal;
   
    box-sizing: border-box;
    padding: 50px; 
}

h1 {
    text-align: center;
}

.breed-select {
    font-size: 30px;
    font-style: normal;
    border: 10px;
    color:rgb(116, 98, 219);
     border-radius: 15px;
    border-color: blue;
     background-color: rgb(169, 173, 235);
     margin-bottom: 80px;
}

img {

   border-radius: 20px;
   display: block;
   min-width: 100%;
}

div.box-img {
    align-items: center;
    justify-content: center;
}

.cat-name {
    font-weight: 600;
}

.loader {
   text-align: center;
}


@keyframes floating {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-25px);
    }
}
  
@keyframes animloader {
    0% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1.2);
    }
} 